<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Create Todo</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-950 ">
  <%- include('partials/header') %>
    <div class="bg-gray-100 text-gray-900 min-h-screen flex flex-col items-center justify-center p-4">
      <div class="bg-white p-8 rounded shadow-md w-full max-w-lg">
        <h1 class="text-2xl font-bold mb-6">Create New Todo</h1>
        <form action="/task/addTask" method="POST" class="space-y-4">
          <input type="text" name="title" placeholder="Title" required class="w-full p-2 border rounded" />

          <textarea name="description" placeholder="Description" required class="w-full p-2 border rounded"></textarea>

          <input type="text" name="priority" placeholder="Priority" required class="w-full p-2 border rounded" />


          <input type="date" name="dueDate" class="w-full p-2 border rounded" />

          <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition w-full">
            Create
          </button>
        </form>

        <a href="/task" class="inline-block mt-4 text-blue-600 hover:underline">
          ← Back to All Todos
        </a>
      </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>