<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Logout</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-950 ">
  <%- include('partials/header') %>
    <div class="bg-gray-100 flex items-center justify-center min-h-screen">
      <div class="bg-white p-8 rounded shadow-md max-w-md text-center">
        <h1 class="text-3xl font-bold text-green-600 mb-4">Logged Out Successfully</h1>
        <p class="text-gray-700 mb-6">You have been logged out. Thank you for visiting.</p>

        <a href="/users/login" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition">
          Login Again
        </a>
      </div>
    </div>
    <%- include('partials/footer') %>
</body>

</html>